<ion-view title="Page" id="page1">
  <ion-content padding="true" class="has-header">
    <h1 id="page-heading2" style="color:#000000;">Phonebook</h1>
    <form id="page-form1" class="list">
      <label class="item item-input" id="page-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </form>
    <div id="page-button-bar1" class="button-bar">
      <button id="page-button4" class="button button-dark button-block">Add</button>
      <button id="page-button5" class="button button-dark button-block">Update</button>
      <button id="page-button6" class="button button-dark button-block">Delete</button>
    </div>
    <ion-list id="page-list3">
      <ion-item class="item-avatar item-icon-right" id="page-list-item5">
        <img src="img/dbF1IMveQumpJZ6zqX4S_Paulo.jpg">
        <h2>Dr. Puyat</h2>
        <p>CCSIT</p>
        <i class="icon ion-android-laptop"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="page-list-item6">
        <img src="img/U5qTQpNRyyXYdEbj5iww_Neil.jpg">
        <h2>RPh Catli</h2>
        <p>Southstar Drug</p>
        <i class="icon ion-android-happy"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="page-list-item7">
        <img src="img/vZEojFyQWSIVWqSsYFEg_Yeng.jpg">
        <h2>Coach Cruz</h2>
        <p>SBP Philippines</p>
        <i class="icon ion-ios-basketball-outline"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>